<div class="article-page ng-scope">
  <div class="banner">
    <div class="container">
      <h1 ng-bind="::$ctrl.article.title" class="ng-binding">
        {{ article[0]?.title }}
      </h1>

      <div class="article-meta">
        <a>
          <img [src]="article[0]?.author?.image" />
        </a>

        <div class="info">
          <a class="author ng-binding authoExtra">{{
            article[0]?.author?.username
          }}</a>
          <span class="date ng-binding">{{
            article[0]?.createdAt | date
          }}</span>
        </div>

        <!-- Otherwise, show favorite & follow buttons -->
        <span ng-hide="$ctrl.canModify" class="ng-scope">
          <button
            class="btn btn-sm action-btn ng-binding btn-outline-secondary"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-plus"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
              />
            </svg>
            &nbsp; Follow {{ article[0]?.author?.username }}
          </button>

          <button class="btn btn-sm btn-outline-success">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-heart-fill"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
              />
            </svg>
            <span class="ng-binding ng-scope"> Favorite Article </span
            ><span class="counter ng-binding ng-scope"
              >({{ article[0]?.favoritesCount }})</span
            >
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="container page">
    <div class="row article-content">
      <div class="col-xs-12">
        <div>
          <div class="ng-binding">
            <p>{{ article[0]?.body }}</p>
          </div>
        </div>

        <ul class="tag-list">
          <!-- ngRepeat: tag in ::$ctrl.article.tagList -->
        </ul>
      </div>
      <hr />
    </div>
  </div>
</div>
