body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #373a3c;
  background-color: #fff;
}
html {
  font-size: 16px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
.article-page .banner {
  padding: 2rem 0 2rem 0;
}
.banner {
  color: #fff;
  background: #333;
  padding: 2rem;
  margin-bottom: 2rem;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
user agent stylesheet div {
  display: block;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.article-meta img {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  width: 32px;
  border-radius: 30px;
}
.article-page .banner .article-meta {
  margin: 2rem 0 0 0;
}
.article-meta {
  display: block;
  position: relative;
  font-weight: 300;
}
.article-meta .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1rem;
}
.article-page .banner .article-meta .author {
  color: #fff;
}
.article-meta .info .author {
  display: block;
  font-weight: 500 !important;
}
.authoExtra {
  color: white;
  text-decoration: none;
}
.article-meta .info .date {
  color: #bbb;
  font-size: 0.8rem;
  display: block;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.article-page .article-content p {
  font-family: "Source Serif Pro", serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}
