<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-9">
      <tr>
        <app-author [author]="article?.author"> </app-author>
      </tr>

      <tr>
        <td>{{ article?.createdAt | date }}</td>
      </tr>

      <tr>
        <td class="article-preview">{{ article?.title }}</td>
      </tr>
      <tr>
        <td class="discrition">{{ article?.description }}</td>
      </tr>

      <tr>
        <a class="PreviewLink" [routerLink]="['/article/', article?.slug]"
          >Read More...</a
        >
        <!-- <td>{{article?.body | textDisplay : 20}}</td> -->
      </tr>

      <ul class="tag-list">
        <li
          *ngFor="let tag of article?.tagList"
          class="tag-default tag-pill tag-outline"
          [routerLink]="['/HashSearch/', tag]"
        >
          {{ tag }}
        </li>
      </ul>
    </div>
    <div class="col-3">
      <app-favorite-btn
        [clicked]="article?.favorited"
        [count]="article?.favoritesCount"
      >
      </app-favorite-btn>
    </div>
  </div>
</div>
