.article-preview {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.discription {
  font-weight: 300;
  font-size: 24px;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}

ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}

ul .tag-list {
  display: inline-block;
  padding-left: 0px;
  list-style: none;
}
.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.tag-default {
  border: 1px solid #ddd;
  color: #aaa;
  background: none;
  display: inline-block;
  font-weight: 300;
  font-size: 0.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
}
.PreviewLink {
  max-width: 30%;
  font-size: 0.8rem;
  font-weight: 300;
  color: #bbb;
  vertical-align: middle;
}
