<div ui-view="" class="ng-scope">
  <div class="auth-page ng-scope">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign in</h1>
          <p class="text-xs-center">
            <!-- <a
              ui-sref="app.login"
              ng-show="$ctrl.authType === 'register'"
              href="#/login"
              class="ng-hide"
            >
              Have an account?
            </a> -->
            <a ui-sref="app.register" href="#/register"> Need an account? </a>
          </p>

          <form class="ng-pristine ng-valid ng-valid-email">
            <fieldset ng-disabled="$ctrl.isSubmitting">
              <!-- <fieldset
                class="form-group ng-hide"
                ng-show="$ctrl.authType === 'register'"
              >
                <input
                  class="
                    form-control form-control-lg
                    ng-pristine ng-untouched ng-valid ng-empty
                  "
                  type="text"
                  placeholder="Username"
                  ng-model="$ctrl.formData.username"
                />
              </fieldset> -->

              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="email"
                  placeholder="Email"
                />
              </fieldset>

              <fieldset class="form-group">
                <input
                  class="form-control form-control-lg"
                  type="password"
                  placeholder="Password"
                />
              </fieldset>

              <button
                type="button"
                class="btn btn-lg btn-primary pull-xs-right"
                (click)="OnLoginClick()"
              >
                Sign in
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
