<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand ng-binding" href="#/">conduit</a>

    <!-- Show this for logged out users -->
    <ul
      show-authed="false"
      class="nav navbar-nav pull-xs-right"
      style="flex-direction: row"
    >
      <li class="nav-item">
        <a class="nav-link active" ui-sref-active="active" [routerLink]="['']">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" href="#/login"> Sign in </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" href="#/register">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- 
<app-app-truck [data]="json1"></app-app-truck>
<app-app-truck [data]="json2"></app-app-truck> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
