<div ui-view="" class="ng-scope">
  <div class="auth-page ng-scope">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign Up</h1>
          <p class="text-xs-center">
            <a ui-sref="app.register" [routerLink]="['/login/']">
              Have an account?
            </a>
          </p>

          <ul *ngIf="errorsForUser.length">
            <div *ngFor="let error of errorsForUser" class="invalid-feedback">
              {{ error }}
            </div>
          </ul>

          <form [formGroup]="registerationForm" (ngSubmit)="OnSignupClick()">
            <fieldset>
                <fieldset class="form-group">
                    <input
                      formControlName="username"
                      name="username"
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Username"
                    />
                    <div
                      *ngIf="
                      username.errors && username.errors['required'] && username.touched
                      "
                      class="invalid-feedback"
                    >
                    Username is required
                    </div>
                    <div
                      *ngIf="username.errors && username.errors['minlength'] && username.touched"
                      class="invalid-feedback"
                    >
                      Username must be atleast 2 chars.
                    </div>
                  </fieldset>

              <fieldset class="form-group">
                <input
                  formControlName="email"
                  name="email"
                  class="form-control form-control-lg"
                  type="email"
                  placeholder="Email"
                />
                <div
                  *ngIf="
                    email.errors && email.errors['required'] && email.touched
                  "
                  class="invalid-feedback"
                >
                  Email is required
                </div>
                <div
                  *ngIf="email.errors && email.errors['email'] && email.touched"
                  class="invalid-feedback"
                >
                  Email is invalid
                </div>
              </fieldset>

              <fieldset class="form-group">
                <input
                  formControlName="password"
                  name="password"
                  class="form-control form-control-lg"
                  type="password"
                  placeholder="Password"
                />
                <div
                  *ngIf="
                    password.errors &&
                    password.errors['required'] &&
                    password.touched
                  "
                  class="invalid-feedback"
                >
                  Password is required
                </div>
                <div
                  *ngIf="
                    password.errors &&
                    password.errors['lengthLimit'] &&
                    password.touched
                  "
                  class="invalid-feedback"
                >
                  Password must be atleast 8 chars.
                </div>
              </fieldset>

              <input
                type="submit"
                class="btn btn-lg btn-primary pull-xs-right"
                value="Sign up"
                [disabled]="registerationForm.valid"
              />
              <!-- Sign in
                </input> -->
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
