
<div ui-view="" class="ng-scope">
    <div class="home-page ng-scope">
  
      <!-- Splash banner that only shows when not logged in -->
      <div class="banner" show-authed="false" style="display: inherit;">
        <div class="container">
          <h1 class="logo-font ng-binding" ng-bind="::$ctrl.appName | lowercase">conduit</h1>
          <p>A place to share your knowledge.</p>
        </div>
      </div>
  
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-1">
  
      </div>
      <div class="col-9">
        <app-article-list [articleList]="articleJson">
  
        </app-article-list>
      </div>
      <div class="col-2">
        <div style="background-color: #f3f3f3; ">Popular Tags
          <app-popular-tags [tagList]="tagList">
  
          </app-popular-tags>
        </div>
      </div>
    </div>
  </div>
  